<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>NutriFit</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/6866201b21.js" crossorigin="anonymous"></script>
   
    <link rel="stylesheet" href="/css/style.css" />
</head>

<div class="container ">
    <%- include('../components/navbar.ejs',{currentpage:"user"}) %>
    <main>
        <div id="editUsers" class="page ">
            <div class="Tablelist">
                <h2>Users</h2>
                <div class="table-container">
                <table>
                    <thead>
                        <tr><th>ID</th>
                            <th>User name</th>
                            <th>Password</th>
                            <th>Email</th>
                            <th>Role</th>
                            
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="USERTABLE" >
                
                
                        <% arr.forEach((item,index) => { %>
                        <tr>
                            <td><%= index +1 %> </td>
                        <td><%= item.username %> </td>
                        <td><%= item.password %> </td>
                        <td><%= item.email %></td>  
                        <td><%= item.role %></td>       
                            <% }) %> 
                        </tr>
                     
                     
                </tbody>
                    
                </table>
                </div>
                <button id="addButton" class="editors" onclick="window.location.href ='AddUsers'" >Add</button>
        <button id="editButton" class="editors" onclick="window.location.href ='EditUsers'" >Edit</button>
        <button id="deleteButton" class="editors" onclick="window.location.href ='DeleteUsers'">Delete</button>
            </div>
            
            <% if (message) { %>
                <h1 class="<%= success ? 'success-messagee' : 'error-messagee' %>"><%= message %></h1>
            <% } %>
               
            </div>

    </main>
    
    
    </div>

    <script src="/js/javascript.js"></script>
