<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>NutriFit</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/6866201b21.js" crossorigin="anonymous"></script>
   
    <link rel="stylesheet" href="/css/style.css" />
</head> 

<div id="editOrders">
<div class="Tablelist">
    <h2>Recent Orders</h2>
    <% if (arr.length === 0) { %>
     <h1 style="text-align: center ; margin-bottom: 4rem ;"> No Data Available</h1>
    <% } else {  %>
        <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Product Number</th>
                    <th>Plan</th>
                    <th>Duration</th>
                    <th>Payment</th>
                    
                    
                </tr>
            </thead>

            <tbody id="RecentOrdertable" >
                
                <% arr.forEach((item,index) => { %>
                <tr>
                    <td><%= index +1 %> </td>
                <td><%= item.plan %> </td>
                <td><%= item.duration %> </td>
                <td><%= item.price %></td>        
                    <% }) %> 
                </tr>
            </tbody>
        </table>
    </div>
        <% }%>
  </div>    


                       



  
<div id="addPopupOrder" class="popup-container">
    <div class="popup-content">
        <span class="close" onclick="window.location.href = ' /index.html'">&times;</span>
        <h2>Add Order</h2>
        <% if (success) { %>
            <h1><%= message %></h1>
        <% } else { %>
            <h1><%= message %></h1>
        <% } %>

        <form action="/Orders-Crud/AddOrders" method="post">
        <input name="plan" type="text" id="newPlan"
        class="inputdata" placeholder="NewPlan"> <span id="newPlanError" class="error-message hidden">please enter basic or premium</span><br><br>
        <input name="duration" type="text" id="newDuration"
        class="inputdata" placeholder="newDuration"><span id="newDurationError" class="error-message hidden">Please enter Duration from 1 to 3 months</span><br><br>
        <button type="submit"  class="editors" onclick="addOrder(event)">Add</button>
    </form>
        
        
    </div>
    </div>

    <script src="/js/javascript.js"></script>