<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>NutriFit</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/6866201b21.js" crossorigin="anonymous"></script>
   
    <link rel="stylesheet" href="/css/style.css" />
</head> 

<div id="editUsers" class="page ">
    <div class="Tablelist">
        <h2>Users</h2>
        <div class="table-container">
        <table>
            <thead>
                <tr><th>ID</th>
                    <th>User name</th>
                    <th>Password</th>
                    <th>Email</th>
                    <th>Role</th>
                    
                    <th></th>
                </tr>
            </thead>
            <tbody id="USERTABLE" >
                
                
                    <% arr.forEach((item,index) => { %>
                    <tr>
                        <td><%= index +1 %> </td>
                    <td><%= item.username %> </td>
                    <td><%= item.password %> </td>
                    <td><%= item.email %></td>  
                    <td><%= item.role %></td>       
                        <% }) %> 
                    </tr>
                 
                 
            </tbody>
            
        </table>
        </div>
    </div>
<div id="addPopup" class="popup-container">
    <div class="popup-content">
        <span class="close" onclick="window.location.href = 'user.ejs'">&times;</span>
        <h2>Add Data</h2>

        <form action="/admin/AddUsers" method="post">
        <input type="text" id="newUsername" 
        class="inputdata" placeholder="Username">
        <br><br>
        <input type="password" id="newPassword"
        class="inputdata" placeholder="Password"><span id="AddPasswordError" class="error-message hidden">Password is not safe. It must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one digit, and one special character.</span><br><br>
        <input type="Email" id="newEmail"
        class="inputdata" placeholder="Email"><span id="AddErrorEmail" class="error-message hidden">email already in use</span><br><br>
        <input type="text" id="newRole"
        class="inputdata" placeholder="Role"><span id="AddRoleError" class="error-message hidden">please enter Admin or Client</span><br><br>
        
        <button onclick="addData(event)" class="editors">Add</button>
    </form>
    </div>
    </div>



<script src="/js/javascript.js"></script>